In [2]:
# if - else
pm = 20

if pm > 35:
    print('bad')
else:
    print('good')

good

In [8]:
# if-elif-else
pm = 80

if pm < 16 :
    print('good') 
elif pm < 36 :
    print('normal')
elif pm < 76 : 
    print('bad')
else:
    print('so bad')

so bad

In [9]:
pm = 80

if pm < 36:
    if pm < 16:
        print('good')
    else:
        print('normal')
else:
    if pm < 76 : 
        print('bad')
    else:
        print('so fucking bad')

so fucking bad

In [48]:
# while
i = 1
sum = 0

while i <= 10000:
    sum += i
    i += 1
    print(sum)

1
3
6
10
15

In [53]:
# for

list = ['one','two','three','four','five','six','seven','eight','night','ten']

for i in enumerate(list):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'night')
(9, 'ten')

In [59]:
sum = 0

for i in range(11):
    sum += i
print(sum)

55

In [60]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [85]:
## 구구구구구구단

for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i} x {j} = {i*j}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [65]:
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1
else:
    print(sum)

55

In [68]:
sum = 0
for i in range(11):
    sum += i
else:
    print(sum)

55

In [71]:
# break

i = 0
while i < 100:
    print(i)
    if i == 50:
        break
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [72]:
i = 0
while i < 10:
    i += 1
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [77]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [82]:
# list comprehension
list = [1,2,3,4,5]
print([i*2 for i in list if i % 2==0])

[4, 8]

In [89]:
string = "parkjongho"

reverse= ""

for c in string:
    reverse = c + reverse
    print(reverse)

#print(string)
#print(reverse)

p
ap
rap
krap
jkrap
ojkrap
nojkrap
gnojkrap
hgnojkrap
ohgnojkrap

In [2]:
# 계산기 함수

def calc(op, n1, n2):
    result = 0
    if op == '+':
        result = n1 + n2
    elif op == '-':
        result = n1 - n2
    elif op == '*':
        result = n1 * n2
    elif op =='/':
        result = n1 / n2

    return result

print(calc('*', 8, 5))
print(calc('/', 8, 5))

40
1.6

In [6]:
def avg(*args):
    sum = 0
    for i in args:
        sum += i
    return sum / len(args)

print(avg(5,6,67,8,9))

19.0

In [10]:
def var_scope(a):
    a = a+1
    return a

a= 10
var_scope(a)
print(a)
print(var_scope(a))

10
11

In [14]:
a = 10
def func1():
    global a
    a = 20
    print(a)

def func2():
    print(a)

func1()
func2()

20
20

#### 내부 함수 Nested Function

- 함수 안에 함수가 존재함
- 내부 함수는 외부에서 호출 불가

In [15]:
def func1(n1, n2):
    def func2(num1, num2):
        return num1 + num2
    return func2(n1, n2)

print(func1(5, 8))

13

#### 재귀 함수(Recursive Function)

- 함수가 자기 자신을 다시 부르는 함수
- count() 함수 내부에서 count() 함수 호출
- 재귀적으로 카운트 수를 출력

In [17]:
def count(n):
    if n >= 1:
        print(n, end = ' ')
        count(n-1)
    else:
        return

count(10)

10 9 8 7 6 5 4 3 2 1

In [20]:
def sum(n):
    if n == 1:
        return 1
    else:
        return n + sum(n-1)
    
print(sum(10))
print(sum(100))

55
5050

#### 팩토리얼 함수 Factorial Function

- 대표적인 재귀적 함수임

In [22]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(5))

120

#### 람다 함수 Lambda Function

- 함수를 간결하게 한줄로 표현하는 함수

In [23]:
def add(n1, n2):
    return n1 + n2

print(add(1,3))

add2 = lambda n1, n2 : n1 + n2
print(add2(1,3))

4
4

#### Map() Function

- map() : built-in 함수로 list나 dictionary와 같은 iterable한 데이터를 인자로 받아 list안의 개별 item을 함수의 인자로 전달하여 결과를 list 로 형태를 반환해 주는 함수
- 람다 함수와 map() 함수를 이용한 리스트 계산

In [24]:
li = [1,2,3,4,5]
square = lambda n : n * n
li = list(map(square, li))
print(li)

[1, 4, 9, 16, 25]

In [27]:
li_1 = [1,2,3,4,5]
li_2 = [6,7,8,9,10]
li = list(map(lambda n1, n2 : n1 * n2, li_1, li_2))
print(li)

[6, 14, 24, 36, 50]

#### filter()
- filter 함수 : iteralbe 한 데이터를 인자로 개별 item을 특정 조건에 해당하는 값으로만 필터링
- 람다 함수와 filter() 함수를 이용한 리스트 필터링

In [30]:
li = list(range(10))
envens = filter(lambda n : n%2 == 0, li)
print(list(envens))

[0, 2, 4, 6, 8]

#### Reduce ()

- reduce 함수 : iterable한 데이터를 인자로 받아 개별 item을 축약하여 하나의 값으로 만들어 가는 과정
- 람다 함수와 reduce함수를 이용한 리스트 계산

In [32]:
import functools
li = list(range(10))
print(li)
sum = functools.reduce(lambda x,y : x + y, li)
print(sum)
len = functools.reduce(lambda x,y : x+1, li, 0)
print(len)
max = functools.reduce(lambda x,y : x if x > y else y, li)
print(max)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45
10
9

#### Generator & Yield

- 함수 안에서 yield를 사용하면 제너레이터
- yield : 함수를 끝내지 않고 값을 계속 반환함

In [33]:
def gen():
    yield 1
    yield 2
    yield 3

print(gen())
print(list(gen()))

<generator object gen at 0x0000015CACB16FB0>
[1, 2, 3]

In [34]:
for i in gen():
    print(i)

1
2
3

In [35]:
g = gen()
print(next(g))
print(next(g))
print(next(g))

1
2
3

In [36]:
# 짝수만 생성하는 제너레이터

def gen_even(n):
    for i in range(n):
        if i % 2 ==0:
            yield i
for i in gen_even(10):
    print(i)

0
2
4
6
8

In [37]:
print(gen_even(10))

<generator object gen_even at 0x0000015CACBB97D0>